@import 'variables';

.anchor {
  color: $text-color;
  text-decoration: none;

  transition: opacity 0.1s linear;

  &:hover {
    opacity: 0.7;
    cursor: pointer;
  }
}

.icon {
  font-size: 20px;
}

.spacing {
  margin-right: 0.5rem;
}
