@import 'variables';

.center {
  justify-content: center;
  text-align: center;
}

.row {
  margin: 1rem 0 4rem 0;

  @include flex-center;

  gap: 0.5rem;
}

.text {
  font-size: 18px;
  margin-bottom: 4rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, 33%);

  gap: 1rem;

  @include response-medium {
    grid-template-columns: repeat(1, 100%);
    margin: 0 6rem 4rem 6rem;
  }

  @include response-small {
    margin: 0 1.5rem 4rem 1.5rem;
  }

  @include response-x-small {
    margin: 0 0 4rem 0;
  }
}

.technologies {
  display: grid;
  grid-template-columns: repeat(2, 50%);

  @include response-medium {
    grid-template-columns: repeat(1, 100%);
  }

  gap: 1.5rem;
}

.cards {
  @include flex-center;
  flex-wrap: wrap;

  gap: 0.5rem;

  max-width: 490px;
}
