// These vars are defined and pulled from global.scss
// scss by definition cannot be dynamic and therefor the dynamic vars need to
// be controlled via css

// Defining them in CSS also allows us to read the variables in JS as well as CSS and SCSS

// Theme colors
$background: var(--background);
$text-color: var(--text-color);

$primary: var(--primary);
$secondary: var(--secondary);

$focus: var(--focus);

// Non color CSS variables
$border-radius: 3px;

$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

$font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

$x-large: 1500px;
$large: 1200px;
$medium: 1000px;
$small: 600px;
$x-small: 320px;

@mixin response-x-large {
  @media (max-width: $x-large) {
    @content;
  }
}

@mixin response-large {
  @media (max-width: $large) {
    @content;
  }
}

@mixin response-medium {
  @media (max-width: $medium) {
    @content;
  }
}

@mixin response-small {
  @media (max-width: $small) {
    @content;
  }
}

@mixin response-x-small {
  @media (max-width: $x-small) {
    @content;
  }
}
